@import "tailwindcss";
@import "@fontsource/dm-sans";

body {
  font-family: "DM Sans";
}

.react-flow__node {
    font-size: 12px;
  }

.react-flow__handle {
  width: 6.4px;
  height: 8px;
  border-radius: 3px;
  z-index: 1;
}

.react-flow__handle.dark {
  border-color:black;
  background-color: white;
}

#hud {
  color:theme(colors.stone.800);
}

.dark #hud {
  color:theme(colors.stone.200);
}

  #app {
    width: 100vw;
    height: 100vh;
  }